// out: ./css/styles.css, sourcemap: false, compress: false

@button: #7B435B;
@text: #696D7D;
@highlight: #6F9283;
@background: #F5E9E2;
@mouseover: #8D9F87;

body {
    font: 12px Arial;
    background: @background;
}
.slider {
    margin-top: 0.5cm;
    margin-bottom: 1cm;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    cursor: crosshair;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
    stroke-linecap: round;
}
.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

// div.slider {
//     padding: 0 5em;
// }
div.chart {
    height: 270px;
}

#navbar ul {
   margin: 0;
   padding: 5px;
   cellspacing: 0;
   cellpadding: 0;
   border: 0;
   list-style-type: none;
   background-color: @button;
   }

#navbar ul li {
   display: inline;
   }

#navbar ul li a {
   text-decoration: none;
   padding: .2em 1em;
   color: white;
   background-color: @button;
   }

#navbar ul li a:hover {
   color: #0EC6D7;
   background-color: @button;
   }
