.slider {
  margin-top: 0.5cm;
  margin-bottom: 1cm;
}
.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  cursor: crosshair;
}
.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
}
.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}
div.chart {
  height: 35%;
}
div.tree {
  height: 50;
  padding: 5px;
}
div.sidebar {
  float: left;
  clear: both;
  background-color: #8d9f87;
  height: 1000px;
}
div.pane_container {
  display: inline-block;
  margin: 10px  50px 50px 50px;
}
div.constructor_pane {
  display: none;
  padding: 10px 50px 50px 50px;
  clear: both;
}
